@use "properties";
@use "parameters" as *;

.push-content {
  transition: all 200ms ease-in;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  margin: 0 0 0 -250px;
  transition: all 200ms ease-in;
}

nav ul {
  width: 250px;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  background: var(--primary-dark);
  overflow: hidden;
}

nav li {
  margin: 0;
}

nav a {
  color: var(--primary-text);
  font-size: 1.8em;
  text-decoration: none;
  display: block;
  padding: $spacing calc($spacing * 1.5);
  letter-spacing: 2px;
  border-bottom: 1px solid var(--primary);

  &:hover {
    color: var(--accent-text);
  }
}

.navigation-controls {
  line-height: inherit;
  label {
    display: block;
    width: calc($spacing * 1.5);
    height: 100%;
    color: var(--primary-text);
    text-align: center;
    top: 0;
    left: 0;
    transition: all 200ms ease-in;
    z-index: 500;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"]:checked ~ label {
    left: 250px;
  }
}

nav.pushed {
  margin: 0;
}

.push-content.pushed {
  transform: translate3d(250px, 0, 0);
}

.main-header {
  position: fixed;
  background: var(--secondary-background);
  width: 100%;
  right: 0;
  transition: width 200ms ease-in;
  height: calc($spacing * 3);
  display: flex;
  z-index: 2;
  gap: $spacing;
  border-bottom: 3px solid var(--secondary-text);
  top: 0;

  & > div:first-child {
    margin-left: $spacing;
  }

  & > div:last-child {
    margin-right: $spacing;
  }

  & > div {
    display: flex;
    align-items: center;
    line-height: calc($spacing * 3);
  }

  .last {
    margin-left: auto;
  }

  &.pushed {
    width: calc(100% - 250px);
  }

  .navigation-controls {
    height: calc($spacing * 2.5);

    label {
      display: block;
      position: relative;
      background: initial;
      width: inherit;
      height: inherit;
    }

    input[type="checkbox"]:checked ~ label {
      left: 0;
    }
  }
}