includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app

    level: 9

    ignoreErrors:
        - identifier: nullsafe.neverNull
          path: app/Notifications/Concerns/UsesEmailTemplate.php
